{
  "importOrder": [
    "^@Pages/(.*)$",
    "^@Components/(.*)$",
    "^@Lib/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
